<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="box">
    <h1>
      Active account with nodejs
    </h1>
    <form action="/" method="POST">
      <input type="email" placeholder="enter your email here" autocomplete="off" required="true" name="email">
    </form>
  </div>
</body>

</html>